* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eee;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  /*add blend mode directly*/
  mix-blend-mode: multiply;
  margin: auto;
  width: 250px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  padding: 5px 5%;
  align-items: flex-start;
}

.container .main-video {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.container .main-video video {
  width: 100%;
  padding: 5px;
}

.container .main-video .title {
  color: navy;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-list {
  height: 520px;
  background-color: #fff;
  border-radius: 5px;
  overflow-y: scroll;
}

.container video-list::-webkit-scrollbar {
  width: 7px;
}

.container video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 100px;
  border-radius: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background-color: #eee;

}

.container .video-list .vid.active {
  background-color: #2980b9;

}

.container .video-list .vid.active .title {
  color: #fff;

}

.container .video-list .vid .title {
  color: #333;
  font-size: 17px;

}

@media (max-width:991px) {
  .container {

    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
  }
}

@media (max-width:768px) {
  .container {

    grid-template-columns: 1fr;

  }
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-seek-back-button {
  display: none;
  opacity: 0;
}

video::-webkit-media-controls-seek-forward-button {
  display: none;
  opacity: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 10px;
}

.single-image {
  width: 100%px;
  margin: auto;
  margin-top: 50px;
}

.single-image h2 {
  font-size: 35px;
  text-align: center;
  font-family: Roboto;
  padding: 10px;
  width: 700px;
}

.single-image img {
  width: 700px;
  margin: auto;
  border: 6px solid #2980b9;
  border-radius: 15px;
}

.last-paragraph {
  display: block;
  width: 700px;
  margin: auto;
  padding: 20px;
  font-size: 25px;
  color: green;
}

.piggery-header {
  margin-top: 35px;
}

.piggery-header h1 {
  font-size: 45px;
  color: #2980b9;
  font-family: Roboto;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  text-transform: capitalize;

}

.piggery-header P {
  display: block;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  font-size: 28px;
  width: 87%;


}

@media (max-width:801px) {
  .single-image {
    width: 100%;
  }

  .single-image h2 {
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    padding: 10px;
    width: 100%;
  }

  .single-image img {
    width: 100%;
    margin: auto;
    border: 6px solid #2980b9;
    border-radius: 15px;
  }

  .piggery-header {
    margin-top: 35px;
  }

  .piggery-header h1 {
    font-size: 25px;
    color: #2980b9;
    font-family: Roboto;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    text-transform: capitalize;

  }

  .piggery-header P {
    display: block;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    font-size: 18px;
    width: 87%;


  }

  .last-paragraph {
    display: block;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    color: green;
  }
}


/*VERTICAL TIMELINE */
.timeline-header h1{
  text-align:center;
  font-size:45px;
  padding-top:100px;
}
.timeline-header p{
  text-align:center;
  font-size: 25px;
  padding:5px;
}
@media (max-width:801px){
  .timeline-header h1{
    font-size:25px;
  }
  .timeline-header p{
    font-size: 18px;
  }
}

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #00b0bd;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index:99999 !important;
  position:relative;
}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: red;
  z-index:1;
 
}

#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}

.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.content-heading{
  font-size:20px;
  font-weight: 1000;
}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .03);
  padding: 27px 25px;
}

.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}

.timeline-article .content-left-container {
  float:left;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-article .content-left:before,
.timeline-article .content-right:before {
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}

.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: #00b0bd;
  z-index:2;
}

.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}

.timeline-article .meta-date .date {
  font-size: 20px;
  line-height: 40px;
}

.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}

/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {

  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }

  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
    background-color: red;
  }

  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }

  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }

  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }

  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }

  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }

  .timeline-article .content-right:before {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }

  .timeline-article p span.article-number {
    display: none;
  }

}

/*===== // Resonsive Vertical Timeline =====*/